.example {
  background-color: #eaeaea;
  padding: 10px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__title {
  font-size: 36px;
  font-weight: normal;
  font-family: $oswald;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    //background-color: #ffffff;
  }
}

.example__description {
  padding: 15px 0 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
  }
}

.example__desc-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: initial;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }
}

.example__item {
  border: 1px solid $color-special-grey;
  border-radius: 3px;
  text-align: center;
  width: 125px;
}

.example__number {
  font-size: 24px;
  font-family: $oswald;
  color: #000000;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__descr {
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  position: absolute;
  margin-top: -8px;
  margin-left: 30px;
  padding: 0 5px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    font-size: 14px;
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__cost {
  font-family: $oswald;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.example__cat-wrapper {
  padding: 30px 0 15px 0;
  text-align: center;
}

.example__cat-list {
  list-style: none;
  padding: 0;
  margin: 0 -18px;

  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }
}

.example__cat-item img {
  @media (min-width: $tablet-width) {
    min-width: 700px;
  }
}

.slider__toggle-wrapper {
  padding-left: 45px;
  padding-right: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -40px;
}

.slider__toggle-label {
  font-family: $oswald;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.slider__toggler {
  color: #000000;
  font-family: $oswald;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 84px; /* Specific width is required for Firefox. */
  height: 14px;
  border-radius: 50px;
  padding: 0 4px;
  background: #ffffff; /* Otherwise white in Chrome */
  border: 1px solid $color-special-grey;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 84px;
  height: 14px;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  //border: 1px solid red;
  height: 6px;
  width: 35px;
  border-radius: 10px;
  background: $color-basic-green;
  cursor: pointer;
  //margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type="range"]::-moz-range-thumb {
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //border: 1px solid red;
  height: 6px;
  width: 35px;
  border-radius: 10px;
  background: $color-basic-green;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //border: 1px solid red;
  height: 6px;
  width: 35px;
  border-radius: 10px;
  background: $color-basic-green;
  cursor: pointer;
}
