.gift {
  padding: 0px 20px;
  text-align: center;
}

.gift__wrapper {
  width: 280px;
  height: 290px;
  background-image: url(../../img/gift-320.png);
  background-repeat: no-repeat;
  padding-top: 65px;
}

.gift__desc {
  color: #ffffff;
  font-size: 16px;
  padding-top: 35px;
}
