.page-footer {
  background-color: $color-basic-grey;
  text-align: center;
  padding: 10px 20px;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}


.socials__list {
  list-style: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.page-footer__cut-logo {
  border-bottom: 1px solid #d9d9d9;
  padding: 25px;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }
}

.page-footer__copyright {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    wrap: nowrap;
  }
}

.page-footer__copyright a {
  text-decoration: none;
  color: $color-special-dark-grey;
}
