

.main-nav__list {
  margin: 0px;
  list-style: none;
  text-align: center;
  padding: 20px 0px;
}

.main-nav__item {
  font-family: "Oswald";
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0px;
  border-top: 1px solid #e6e6e6;
}

.main-nav__item a {
  text-decoration: none;
  color: #000000;
}
