@charset 'utf-8';

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: $color-special-dark-grey;
}

.page__body {
  //max-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $color-background;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  max-width: 100%;
  padding: 15px 75px;
  //box-sizing: border-box;
  text-transform: uppercase;
  font-family: $oswald;
  color: #ffffff;
  background-color: $color-basic-green;
  text-decoration: none;
  line-height: 18px;
  border: 0;
}

.button--with-arrow {
  background-color: $color-basic-grey;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  border-top: 1px solid #d9d9d9;
  padding-left: 0px;
  padding-right: 150px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    border-top: 0px;
  }
}

.button--grey {
  background-color: $color-basic-grey;
  color: $color-special-dark-grey;
}

.bold-text {
  font-weight: bold;
}

.slider__toggler {
  color: #000000;
  font-family: $oswald;
  font-size: 20px;
  text-align: center;
}

