@charset 'utf-8';

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: $color-special-dark-grey;
}

.page__body {
  //max-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $color-background;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  max-width: 100%;
  padding: 11px 55px;
  //box-sizing: border-box;
  text-transform: uppercase;
  font-family: $oswald;
  color: #ffffff;
  background-color: $color-basic-green;
  text-decoration: none;
  line-height: 18px;
  border: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 18px 26px;
  }
}

.button--with-arrow {
  background-color: transparent;
  background-image: url("../../img/icon_arrow.png");
  background-repeat: no-repeat;
  background-position: top 8px left 120px;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0;
  //padding-right: 150px;
  //border-top: 1px solid #d9d9d9;

  &:hover {
    background-position: top 8px left 123px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    border-top: 0;
    background-position: top 8px left 155px;

    &:hover {
      background-position: top 8px left 160px;
    }
  }
}

.button--grey {
  background-color: $color-basic-grey;
  color: $color-special-dark-grey;
}

.bold-text {
  font-weight: bold;
}
